<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        観光地一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @places.each do |place| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to place_path(place) do %><!-- 場所の詳細画面place_pathへ遷移したい。(place)で指定。-->
                  <%= attachment_image_tag place, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag place.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                  </figure>
                </div>

                <div class="media-content">
                  <div class="title"><%=link_to place.user.username, user_path(place.user) %>
                        <!--場所に紐づいているユーザーplace.user.usernameの詳細画面user_pathへ遷移したい(place.user) -->
                  </div>
                </div> 

              </div>

              <div class="content">
                <time><%= place.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
